body{
	background-color:white;
	font-style:courier;
}
nav{
	display:inline;
	float:right;
	padding:15px
}
header{
	font-style:courier;
	border: 5px groove red;
	background-color:white;
}
header h1{
	display:inline;
	line-height:100px;
}
a:hover{
	color:red;
}
li{
	border: 5px groove red;
}
img{
	border: 4px ridge #FF0012;
	object-fit: contain;
	width:auto;
}